incubator/tmxer/schemas/tmx14a.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:complexType name="tmx">
		<xs:sequence>
			<xs:element ref="header"/>
			<xs:element ref="body"/>
		</xs:sequence>
		<xs:attribute name="version" fixed="1.4" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="tmx" type="tmx"/>
	<xs:complexType name="header">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="note"/>
			<xs:element ref="prop"/>
			<xs:element ref="ude"/>
		</xs:choice>
		<xs:attribute name="creationtool" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="creationtoolversion" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="segtype" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="phrase"/>
					<xs:enumeration value="block"/>
					<xs:enumeration value="sentence"/>
					<xs:enumeration value="paragraph"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="o-tmf" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="adminlang" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="srclang" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="datatype" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="o-encoding" type="xs:anySimpleType"/>
		<xs:attribute name="creationdate" type="xs:anySimpleType"/>
		<xs:attribute name="creationid" type="xs:anySimpleType"/>
		<xs:attribute name="changedate" type="xs:anySimpleType"/>
		<xs:attribute name="changeid" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="header" type="header"/>
	<xs:complexType name="body">
		<xs:sequence>
			<xs:element ref="tu" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="body" type="body"/>
	<xs:complexType name="note" mixed="true">
		<xs:attribute name="o-encoding" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="lang" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="note" type="note"/>
	<xs:complexType name="ude">
		<xs:sequence>
			<xs:element ref="map" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="base" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ude" type="ude"/>
	<xs:complexType name="map">
		<xs:attribute name="unicode" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="code" type="xs:anySimpleType"/>
		<xs:attribute name="ent" type="xs:anySimpleType"/>
		<xs:attribute name="subst" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="map" type="map"/>
	<xs:complexType name="prop" mixed="true">
		<xs:attribute name="type" use="required" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="o-encoding" type="xs:anySimpleType"/>
		<xs:attribute name="lang" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="prop" type="prop"/>
	<xs:complexType name="tu">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="note"/>
				<xs:element ref="prop"/>
			</xs:choice>
			<xs:element ref="tuv" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="tuid" type="xs:anySimpleType"/>
		<xs:attribute name="o-encoding" type="xs:anySimpleType"/>
		<xs:attribute name="datatype" type="xs:anySimpleType"/>
		<xs:attribute name="usagecount" type="xs:anySimpleType"/>
		<xs:attribute name="lastusagedate" type="xs:anySimpleType"/>
		<xs:attribute name="creationtool" type="xs:anySimpleType"/>
		<xs:attribute name="creationtoolversion" type="xs:anySimpleType"/>
		<xs:attribute name="creationdate" type="xs:anySimpleType"/>
		<xs:attribute name="creationid" type="xs:anySimpleType"/>
		<xs:attribute name="changedate" type="xs:anySimpleType"/>
		<xs:attribute name="segtype">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="phrase"/>
					<xs:enumeration value="block"/>
					<xs:enumeration value="sentence"/>
					<xs:enumeration value="paragraph"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="changeid" type="xs:anySimpleType"/>
		<xs:attribute name="o-tmf" type="xs:anySimpleType"/>
		<xs:attribute name="srclang" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="tu" type="tu"/>
	<xs:complexType name="tuv">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="note"/>
				<xs:element ref="prop"/>
			</xs:choice>
			<xs:element ref="seg"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="required"/>
		<xs:attribute name="o-encoding" type="xs:anySimpleType"/>
		<xs:attribute name="datatype" type="xs:anySimpleType"/>
		<xs:attribute name="usagecount" type="xs:anySimpleType"/>
		<xs:attribute name="lastusagedate" type="xs:anySimpleType"/>
		<xs:attribute name="creationtool" type="xs:anySimpleType"/>
		<xs:attribute name="creationtoolversion" type="xs:anySimpleType"/>
		<xs:attribute name="creationdate" type="xs:anySimpleType"/>
		<xs:attribute name="creationid" type="xs:anySimpleType"/>
		<xs:attribute name="changedate" type="xs:anySimpleType"/>
		<xs:attribute name="o-tmf" type="xs:anySimpleType"/>
		<xs:attribute name="changeid" type="xs:anySimpleType"/>
		<xs:attribute name="lang" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="tuv" type="tuv"/>
	<xs:complexType name="seg" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="bpt"/>
			<xs:element ref="ept"/>
			<xs:element ref="ph"/>
			<xs:element ref="it"/>
			<xs:element ref="hi"/>
			<xs:element ref="ut"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="seg" type="seg"/>
	<xs:complexType name="bpt" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sub"/>
		</xs:choice>
		<xs:attribute name="i" use="required" type="xs:anySimpleType"/>
		<xs:attribute name="x" type="xs:anySimpleType"/>
		<xs:attribute name="type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="bpt" type="bpt"/>
	<xs:complexType name="ept" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sub"/>
		</xs:choice>
		<xs:attribute name="i" use="required" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ept" type="ept"/>
	<xs:complexType name="sub" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="bpt"/>
			<xs:element ref="ept"/>
			<xs:element ref="it"/>
			<xs:element ref="ph"/>
			<xs:element ref="hi"/>
			<xs:element ref="ut"/>
		</xs:choice>
		<xs:attribute name="datatype" type="xs:anySimpleType"/>
		<xs:attribute name="type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="sub" type="sub"/>
	<xs:complexType name="it" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sub"/>
		</xs:choice>
		<xs:attribute name="pos" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="begin"/>
					<xs:enumeration value="end"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="x" type="xs:anySimpleType"/>
		<xs:attribute name="type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="it" type="it"/>
	<xs:complexType name="ph" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sub"/>
		</xs:choice>
		<xs:attribute name="x" type="xs:anySimpleType"/>
		<xs:attribute name="assoc" type="xs:anySimpleType"/>
		<xs:attribute name="type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ph" type="ph"/>
	<xs:complexType name="hi" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="bpt"/>
			<xs:element ref="ept"/>
			<xs:element ref="it"/>
			<xs:element ref="ph"/>
			<xs:element ref="hi"/>
			<xs:element ref="ut"/>
		</xs:choice>
		<xs:attribute name="x" type="xs:anySimpleType"/>
		<xs:attribute name="type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="hi" type="hi"/>
	<xs:complexType name="ut" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="sub"/>
		</xs:choice>
		<xs:attribute name="x" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="ut" type="ut"/>
</xs:schema>
